.containerProducts{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .textProduct{
        padding: 1rem 0;
    }
    .ulProducts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 800px) {
    .containerProducts{
        width: 90%;
        display: flex;
        

    .textProduct{
        padding: 2rem 0;
        font-size: 2rem;
    }
    .ulProducts{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
}