@import "src/constants/variables.scss";

.main {
  width: 100%;
  background-color: #ececec;
  display: flex;
  gap: 1rem;
  .sxColumn {
    height: calc(100vh - $header-height);
  }
  .dxColumn {
    width: 100%;
  }
}