.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .containerCategories{
        width: 45%;

            .imgCategories{
                width: 100%;
            }

            .textCategories{
                margin: 0;
                padding: 0;
                align-self: center;
                font-size: 1.5rem;
                background-color: rgba(0, 0, 0, 0.521);
                color: white;
                text-align: center;
            }

            .containerBtn{
                display: flex;
                justify-content: space-between;
            }
        }
    }


@media screen and (min-width: 800px) {
    .main{
        width: 100%;
        display: flex;

        gap: 1rem;
    
        .containerCategories{
            width: 30%;
    
            .imgCategories{
                width: 100%;
            }

            .textCategories{
                font-size: 1.5rem;
                color: white;
                background-color: rgba(0, 0, 0, 0.521);
            }
        }
    }
}